# Pandas I - Introduction to fundamental objects

`pandas` is the Python library that structures and simplifies data manipulation and analysis. The name, pandas is derived by **pan**el and **da**ta. The library indeed focusses on representing data as tables (`DataFrames`), indices (`Index`) and data series (`Series`).

|  |  |  |  |
| --- | --- | --- | --- | 
|<img src="./assets/jnb021/Panda_Cub_from_Wolong,_Sichuan,_China.jpeg" alt="Drawing" style="width: 300px;"/> | <img src="./assets/jnb021/Panda_Cub_from_Wolong,_Sichuan,_China.jpeg" alt="Drawing" style="width: 300px;"/> | <img src="./assets/jnb021/Panda_Cub_from_Wolong,_Sichuan,_China.jpeg" alt="Drawing" style="width: 300px;"/> | <img src="./assets/jnb021/Panda_Cub_from_Wolong,_Sichuan,_China.jpeg" alt="Drawing" style="width: 300px;"/> |

`pandas` uses `NumPy` arrays to represent data. It provides specific functions to manipulated data as `code objects`. This means that to use pandas you need to import also NumPy. `pandas` requires and builds on top of `NumPy`.

There are three main data object types in pandas:

  - `Series` - A mutable, one-dimensional array of indexed data.
  - `DataFrames` - A two-dimensional, size-mutable, potentially heterogeneous tabulated data structure.
  - `Index` -  An one-dimensional, immutable array or ordered set (technically a multi-set, as Index objects may contain repeated values).

Below we will learn a little bit more about these three data objects.

###### A short history of Pandas.
Wes McKinney started developing what then became pandas while working at the capital management firm Applied Quantitative Research (AQR). Pandas was developed initially as a closed-source project and was made open source in 2009. Pandas is sponsored by [NumFOCUS, Inc.](https://numfocus.org/) that promotes support and sponsorships of python based open source code.

In [87]:
import numpy as np
import pandas as pd

### The pandas `Series` object

`Series` are dictionary-like objects. Pandas Series is a one-dimensional array that comes with labels assigned. They are similar to NumPy one-dimensional arrays but they are labeled or indexed. So they are built on top of NumPy arrays but come with additional functionality as well as constrains. They can be thought of as a specification of NumPy arrays. For example, let's evaluate the code below.

First we define a pandas Series objects and assign a set of string values to the elements of the object:

In [88]:
data = pd.Series(['a', 'b', 'c', 'd'])

After defining the object let's explore it.

In [89]:
print (data)

0    a
1    b
2    c
3    d
dtype: object

The data type is defined as `object`, the values we assigned are stored in the second column. The first column is the `index` automatically assigned by pandas to each value. Now, exch value comes with an index. This is a foundamental data organization aspect of pandas. Values always have indeces, because pandas deals with panel data, i.e., tables. So even a one-dimensional array as a Series is assigned indices just like a table is.

We will discuss pandas index objects later.

A Pandas Series can be created directly by assigning values into an array (using `[]`), and that array to a series (`pd.Series()`). Yet, the final product of that series definition create something different than an Array. It creates a set of pairs of values where a label (`index`) is associated to a corresponding value. 

Series are capable of holding data of any type (integer, string, float, python objects, etc.).  For example:

In [90]:
data = pd.Series(['string',10, np.nan,0.01])
print(data)

0    string
1        10
2       NaN
3      0.01
dtype: object

Once the Series object is created, the Index is created and it becomes part of the methods of the Series object. This means that the Index to the entries can be retrieved and used to address the corresponding entry. For example, we can call the `Index` as a method and it will return the range, with the min value, the max value and the steps in btween them:

In [91]:
data.index

RangeIndex(start=0, stop=4, step=1)

The index can be used to address the corresponding value in the Series object:

In [92]:
data[0:3]

0    string
1        10
2       NaN
dtype: object

Because the Index in pandas is explictly defined and it becomes a method (this is in contrast with NumPy arrays where indices are impliclty defined and hence not addressable or callable), the pandas Series object becomes much more useful and strctured.

For example, we can create a Series object by explictly assigning values and indices:

In [93]:
data1 = pd.Series(['string',10, np.nan,0.01],index=[0,3,2,4])

print(data1)

0    string
3        10
2       NaN
4      0.01
dtype: object

Even though `data` and `data1` might look the same, they are not. The indices are different:

In [94]:
print(data.index)
print(data1.index)

RangeIndex(start=0, stop=4, step=1)
Int64Index([0, 3, 2, 4], dtype='int64')

So, that, if we address the second entry in either object we will get different values:

In [95]:
print(data[3])
print(data1[3])

0.01
10

One way to think about pandas Series objects is that they are dictionaries where a label is paired to a value, say `label 1` is assigned to `value 1`, or `label 2` to `value 3` etc. Indeed, a pandas Series object can be constructed by hand building a dictionary a set of pairing of labels and values. 

For example, let's build a [Python dictionary](https://docs.python.org/3/tutorial/datastructures.html#dictionaries) of cognitive health. The dictionary pairs a label to a value:

In [96]:
cognitive_health = {'happiness':10,
                    'language': 2, 
                    'energy': 5, 
                    'memory': 3}

Note that python dictionaries have attributes (you can type `cognitive_health.` and press `tab` twice to get a list of attributes), yet the python dictionary does not have `index` as an attribute. 

The following line will return an error.

In [97]:
cognitive_health.index

AttributeError: 'dict' object has no attribute 'index'

Python dictionaries can be used to set pandas Series directly:

In [98]:
cognitive_health_Series = pd.Series(cognitive_health)

The dictionary has been made into a panda Series and it is now ordered and labelled. So, the following operation will not return an error, but the labels of the Series (the indices):

In [99]:
cognitive_health_Series.index

Index(['happiness', 'language', 'energy', 'memory'], dtype='object')

Another important property that the pandas Series have and python dictionaries do not is the ability to allow slicing. Whereas, a dictionary would return an error if called as follows:

In [100]:
cognitive_health ['happyness':'energy']

TypeError: unhashable type: 'slice'

A pandas Series do allow slicing:

In [101]:
cognitive_health_Series['happiness':'energy']

happiness    10
language      2
energy        5
dtype: int64

To summarize what we have learned about pandas Series:

 - They are ordered and labelled one-dimensional arrays.
 - They can be populated by assigning
  - values only (indeces are automatically assigned): `series = pd.Series(['a','b','c'])`
  - values and indices explicitly: `series = pd.Series(['a','b','c'],index = [1,3,2])`
  - python dictionaries directly: `dic = {1:'a',2:'b',3:'c'}`, `series = pd.Series(dic)` 
 - They always come with the property `index`

$\color{blue}{\text{Complete the following exercise.}}$

  - Use the cell below to create a `Pandas` `Series` containing the months of the year as labels (index) and their duration in months as values (use a dictionary to create the `Series`):

In [102]:
data = {"months": ['jan', 'feb', 'mar','apr','may','june','july','aug', 'sep', 'oct','nov','dec'], 
       "days": [31,28,30,31,30,31,30,31,30,31,30,31]}
pd.DataFrame(data)

   months  days
0     jan    31
1     feb    28
2     mar    30
3     apr    31
4     may    30
5    june    31
6    july    30
7     aug    31
8     sep    30
9     oct    31
10    nov    30
11    dec    31

 - Use the cell below to create a Pandas Series containing the months of the year as labels (index) and their duration in months as values (define index and values explicitly, or in other words do not use a dictionary to define the `Series`):

In [103]:
#define index and values explicitly. 
dic = [31,28,30,31,30,31,30,31,30,31,30,31]
series = pd.Series(dic)
series.index

RangeIndex(start=0, stop=12, step=1)


### Pandas `index` object

Let's briefly discuss the `index` object in pandas. 

An `Index` is the pandas object that hosts information regarding the ordering and labels of the arrays inside other objects such as `Series` and `DataFrames`.


Index objects also have many of the attributes familiar from NumPy arrays (e.g., shape, dimensions, size, etc):

In [104]:
ind = pd.Index([1, 2, 3, 4, 5])

print(ind.size, ind.shape, ind.ndim, ind.dtype)

print(ind)

5 (5,) 1 int64
Int64Index([1, 2, 3, 4, 5], dtype='int64')

Pandas `Index` objects are immutable.

An index is similar to a NumPy array, but it is immutable. This means that once an Index is defined the values inside the index cannot be changed.

Where arrays can be modified after definition, a pandas `index` cannot. Let's try this. Above we defined `ind` as a pandas `index` and set in the third position the value `3`. 

Let's try to change that value, evaluate the following operation in which we attempt to set the value `10` in the third position of `ind`:

In [105]:
ind[2] = 10

TypeError: Index does not support mutable operations


$\color{blue}{\text{Complete the following exercise.}}$

  - Use the cell below to create a `Pandas` `index` called `PandasIndexOne` containing the days of the week and a corresponding `Numpy` `array` called `NumpyArrayOne` containing the same values:

In [106]:
PandasIndexOne = pd.Index(['mon', 'tue', 'wed', 'thurs', 'fri', 'sat', 'sun'])
NumpyArrayOne = np.array(['mon', 'tue', 'wed', 'thurs', 'fri', 'sat', 'sun'])

  -  Show that the `PandasIndexOne` is immutable and `NumpyArrayOne` is not.

In [107]:
ind[3] = 'thurs'

TypeError: Index does not support mutable operations

In [108]:
NumpyArrayOne[2] = 'fri'
NumpyArrayOne[3] = 'thurs'
print(NumpyArrayOne)

['mon' 'tue' 'fri' 'thurs' 'fri' 'sat' 'sun']

The error should return the following line at the end:

`TypeError: Index does not support mutable operations`

A pandas `Index` does not allow changes. This is helpful. One way to think about the index is that it is a specialized NumPy array. Specialized means that it has a more narrow scope than the more general goal of a NumPy array. The scope is that to define the (ahem) index of a data frame. Because of this scope (store an index) changes to the values of the array are not allowed, in other words the `Index` is immutable, or cannot be changed after definition by assiging a different value to any of its elements.

If we think about it, this makes sense. Changing a value inside an index of a data frame would change the definition of the data frame and really invalidating the purpuse of the index and of the data frame.

Pandas `Index` objects are designed to facilitate operations on the array and serve the task of keeping track of positions of data entries in the objects. 

They support and facilitiate operations such as joining datasets. Because of this the pandas index object follows many operations of the built in python datatype [`set`](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset).

Because of this the Index object allows many of operations also served by Python set data structure, such as unions, intersections, differences, and other combinations can be computed in a familiar way.

For example, two pandas index object can be united. This means that the unique indices are combined:

In [109]:
index1 = pd.Index([1, 2, 3, 4, 5])
index2 = pd.Index([1, 3, 4, 6, 20])

index1.union(index2)

Int64Index([1, 2, 3, 4, 5, 6, 20], dtype='int64')

Other logical operations can be performed using pandas index objects, for example intersection (find the common elements):

In [110]:
index1.intersection(index2)

Int64Index([1, 3, 4], dtype='int64')

In [111]:
myseries = pd.Series([1,3,4,6,2,8])
myseries[index1.intersection(index2)]

1    3
3    6
4    2
dtype: int64

In sum, pandas index objects allow performing slicing, indexing operations and facilitate keeping track of, ahem, the indices.

$\color{blue}{\text{Complete the following exercise.}}$

  - Use the cell below to create two `Pandas` `Series`. The first Series should be called `PandasSeriesOne` contain titles of five songs from your favourite artist as indices and their respective duration (it is fine to only write the first four words of the title). The second Series should be called `PandasSeriesTwo` and contain the songs of your colleague sitting to your right (or left if no one sites to your right) favourite artist as indices and their correspdoning duration as value.

In [112]:
PandasSeriesOne = pd.Series(['How Long','Loser','Attention','Dangerously','Marvin Gaye'],index=[3,3,2,4,4])

print(PandasSeriesOne)

3       How Long
3          Loser
2      Attention
4    Dangerously
4    Marvin Gaye
dtype: object

### Pandas `DataFrame` objects

Whereas pandas `Index` and `Series` objects are the backbone of the pandas library, the `DataFrame` object is the workhorse of the library. DataFrames have effectively made pandas the library for data science.

The DataFrame is an exstension of the Series object. It is a 2-dimensional, mutable array that it can be conceptualized as either a more general NumPy array, or a specialized Python dictionary. 

A DataFrame can be defined most simply by setting some values to it. The indexing and labelling is automatically assigned by pandas. For example, we can create a one-dimensional list and assign the values of the list to a DataFrame:

In [113]:
list = ['a','b','c','d']
data_frame1 = pd.DataFrame(list)
print(data_frame1)

   0
0  a
1  b
2  c
3  d

Even though the result might seem very similar to that obtained about with the Series object, in reality, the DataFrame object has assigned not one but two labels, one label for the rows dimension (`[0:3]`) and one for the column dimension (`0`).

Indeed, we can notice from the `print()` output that two dimensions were automatically labelled (indexed) with numbers. Whereas the Series is created as a one-dimensional object, the DataFrame is created as a two-dimensional object.

Another way to think about a DataFrame is that it is a sequence of *aligned* Series objects. What do we mean by that?

Each column in the DataFrame can be thought of as a Series. Each series is labelled by the column index. Importantley, the series are aligned, this means that the set of Series (the columns of the DataFrame) are indexed by a common `Index` object.

Let's take a look at all this.

Let's construct a new Series object similar to `cognitive_health_Series`, the object we created above (make sure that object is still in memeory, if needed re-run that section of the cells). Let's assume that that original series represented the data collected on a subject.

In [114]:
cognitive_health_Series

happiness    10
language      2
energy        5
memory        3
dtype: int64

The new Series will represent data on a second subject. To build the series we will use steps similar to the ones used above. We will first make a python dictionary and then make a pandas Series object out of it.

In [115]:
cognitive_health_subject2_dict = {'happyness': 15,
                                  'language': 4, 
                                  'energy': 9, 
                                  'memory': 6}
cognitive_health_subject2_series = pd.Series(cognitive_health_subject2_dict)
cognitive_health_subject2_series

happyness    15
language      4
energy        9
memory        6
dtype: int64

Now that we have two pandas Series, we can construct a pandas DataFrame by combining the two Series objects. 

To do so, we will first create a single dictionary containing the two series, labelled as `subject 1` and `subject 2` and then use that dictionary to make a DataFrame.

The dictionary for the DataFrame is formed by assigning each subject to a label:

In [116]:
dict = {'subject 1' : cognitive_health_Series, 
        'subject 2' : cognitive_health_subject2_series}
print(dict)

{'subject 1': happiness    10
language      2
energy        5
memory        3
dtype: int64, 'subject 2': happyness    15
language      4
energy        9
memory        6
dtype: int64}

The dictionary can now be used to build a DataFrame:

In [117]:
sample = pd.DataFrame(dict)
sample

           subject 1  subject 2
energy           5.0        9.0
happiness       10.0        NaN
happyness        NaN       15.0
language         2.0        4.0
memory           3.0        6.0

In [118]:
cognitive_health_subject2_dict = {'happyness': 15,
                                  'language': 4, 
                                  'energy': 9, 
                                  'memory': 6,
                                  'attention': 22}
cognitive_health_subject2_series = pd.Series(cognitive_health_subject2_dict)
cognitive_health_subject2_series

dict = {'subject 1' : cognitive_health_Series, 
        'subject 2' : cognitive_health_subject2_series}
print(dict)

sample = pd.DataFrame(dict)
sample

{'subject 1': happiness    10
language      2
energy        5
memory        3
dtype: int64, 'subject 2': happyness    15
language      4
energy        9
memory        6
attention    22
dtype: int64}

           subject 1  subject 2
attention        NaN       22.0
energy           5.0        9.0
happiness       10.0        NaN
happyness        NaN       15.0
language         2.0        4.0
memory           3.0        6.0

Excellent. Pandas did its Kung Fu. The dictionary comprising two pandas Series, was organized into a pandas DataFrame.

Next try adding two more subjects to the same DataFrame (`sample`). Let's practice this with a subject that has all values higher than subject 2 by a value of 3 (just add 3) and another subject that has all values lower than subject 2 by a value of 2 (just subtract 3).

In [119]:
cognitive_health_subject4_dict = {'happyness': 15-2,
                                  'language': 4-2, 
                                  'energy': 9-2, 
                                  'memory': 6-2}
cognitive_health_subject4_series = pd.Series(cognitive_health_subject4_dict)
cognitive_health_subject4_series

happyness    13
language      2
energy        7
memory        4
dtype: int64

In [120]:
cognitive_health_subject3_dict = {'happyness': 15+3,
                                  'language': 4+3, 
                                  'energy': 9+3, 
                                  'memory': 6+3}
cognitive_health_subject3_series = pd.Series(cognitive_health_subject3_dict)
cognitive_health_subject3_series

happyness    18
language      7
energy       12
memory        9
dtype: int64

In [121]:
dict = {'subject 1' : cognitive_health_Series, 
        'subject 2' : cognitive_health_subject2_series, 
        'subject 3' : cognitive_health_subject3_series,
        'subject 4' : cognitive_health_subject4_series,
       }
print(dict)

{'subject 1': happiness    10
language      2
energy        5
memory        3
dtype: int64, 'subject 2': happyness    15
language      4
energy        9
memory        6
attention    22
dtype: int64, 'subject 3': happyness    18
language      7
energy       12
memory        9
dtype: int64, 'subject 4': happyness    13
language      2
energy        7
memory        4
dtype: int64}

In [122]:
sample = pd.DataFrame(dict)
sample

           subject 1  subject 2  subject 3  subject 4
attention        NaN       22.0        NaN        NaN
energy           5.0        9.0       12.0        7.0
happiness       10.0        NaN        NaN        NaN
happyness        NaN       15.0       18.0       13.0
language         2.0        4.0        7.0        2.0
memory           3.0        6.0        9.0        4.0

In [123]:
sample.isna()

           subject 1  subject 2  subject 3  subject 4
attention       True      False       True       True
energy         False      False      False      False
happiness      False       True       True       True
happyness       True      False      False      False
language       False      False      False      False
memory         False      False      False      False

The newly created DataFrame has various attributes that we can explore. We can address and extract the columns for example:

In [124]:
cols = sample.columns
print(cols)

Index(['subject 1', 'subject 2', 'subject 3', 'subject 4'], dtype='object')

We can address the rows, which in technical terms are called the labels or the index:

In [125]:
rows = sample.index
print(rows)

Index(['attention', 'energy', 'happiness', 'happyness', 'language', 'memory'], dtype='object')

$\color{blue}{\text{Complete the following exercise.}}$

  - Use the cell below to create a Pandas `DataFrame`. Each column of the DataFrame should be the title of song you pick (it is fine to clip the title tothe first 4 words in the title). Each row of the data frame should be the name of one of your colleagues, use 3-4 names. Interview 3-4 of your colleagues and add the value in each cell representing the rating of the corresponding song that each colleague provides using a scale between 0-5, where 5 is an awesome song and 0 is a boring song.

In [141]:
#I asked my room mates 

Person1 = {'I know what you did last summer': 4, 
            'Attention':5, 
            'Summertime Sadness':4, 
            'Baby':2, 
            'Fireworks':1}
series1 = pd.Series(Person1)


Person2 = {'I know what you did last summer': 4, 
            'Attention':5, 
            'Summertime Sadness':4, 
            'Baby':2, 
            'Fireworks':1}
series2 = pd.Series(Person2)

Person3 = {'I know what you did last summer': 4, 
            'Attention':5, 
            'Summertime Sadness':4, 
            'Baby':2, 
            'Fireworks':1}
series3 = pd.Series(Person3)

dict = {'Person One': series1, 'Person Two': series2,
       'Person Three': series3}
SongRatings = pd.DataFrame(dict)
SongRatings

                                 Person One  Person Two  Person Three
I know what you did last summer           4           4             4
Attention                                 5           5             5
Summertime Sadness                        4           4             4
Baby                                      2           2             2
Fireworks                                 1           1             1

  - Use the cell below to create a Pandas `DataFrame`. Each column of the DataFrame should be the name of an band/singer of your pick (it is fine to clip the title tothe first 4 words in the title). Each row of the data frame should be the name of one of your colleagues, use 3-4 names. Interview 3-4 of your colleagues and add the value in each cell representing the rating of the corresponding song that each colleague provides using a scale between 0-5, where 5 is an awesome song and 0 is a boring song.

In [142]:
Person1 = {'Charlie Puth': 5, 
            'The Weeknd':4, 
            'Paramore':3, 
            'Fall Out Boy ':2, 
            'Selena Gomez':1}
series1 = pd.Series(Person1)


Person2 = {'Charlie Puth': 2, 
            'The Weeknd':4, 
            'Paramore':2, 
            'Fall Out Boy ':2, 
            'Selena Gomez':1}
series2 = pd.Series(Person2)

Person3 = {'Charlie Puth': 1, 
            'The Weeknd':1, 
            'Paramore':2, 
            'Fall Out Boy ':3, 
            'Selena Gomez':1}
series3 = pd.Series(Person3)

dict = {'Person One': series1, 'Person Two': series2,
       'Person Three': series3}
SongRatings = pd.DataFrame(dict)
SongRatings

               Person One  Person Two  Person Three
Charlie Puth            5           2             1
The Weeknd              4           4             1
Paramore                3           2             2
Fall Out Boy            2           2             3
Selena Gomez            1           1             1

### Summary

We have learned about the library `pandas` and the three fundamental objects of the library:
 - Index
 - Series
 - DataFrames
 
 These last one are the most used, versatile data representation objects and are most commonly used for data science projects.
 
 Pandas DataFrames are 2-dimensional objects composed by collections of one-dimensional objects called Series. The one-dimensional objects in a DataFrame are `aligned` meaning that all entries of a series are matched, they are related, each row is indexed by the same index no matter what series.

$\color{blue}{\text{Complete the following exercise.}}$

To practice with pandas Series and DataFrames, build a new dataset that has 10 series (subject 1-10) representing measurements from the following measures of brain health (use a tidy format with columns as variables and rows as subjects). Guess appropriate values for neuronal activity, blood oxygenation, pulsation and cortical thickness.

`['neuronal activity', 'blood oxygenation', 'blood pulsation rate', 'cortical thickness']`

In [ ]:
subject1 = {'Neuronal Activity(mM 10-12)':10,
'Blood Oxygenation (% 95 and higher)':95,
'Blood Pulsation Rate (bpm 60-100)':68,
'Cortical Thickness (mm, approx 2.5)':2.5}
series1 = pd.Series(subject1)


subject2 = {'Neuronal Activity(mM)':12,
'Blood Oxygenation (%)':100,
'Blood Pulsation Rate(bpm)':92,
'Cortical Thickness(mm)':2.9}
series2 = pd.Series(subject2)


subject3 = {'Neuronal Activity(mM)':11,
'Blood Oxygenation(%)':94,
'Blood Pulsation Rate(bpm)':69,
'Cortical Thickness(mm)':2.5}
series3 = pd.Series(subject3)


subject4 = {'Neuronal Activity(mM)':12,
'Blood Oxygenation(%)':93,
'Blood Pulsation Rate(bpm)':84,
'Cortical Thickness(mm)':2.7}
series4 = pd.Series(subject4)


subject5 = {'Neuronal Activity(mM)':15,
'Blood Oxygenation(%)':99,
'Blood Pulsation Rate(bpm)':79,
'Cortical Thickness(mm)':3.1}
series5 = pd.Series(subject5)


subject6 ={'Neuronal Activity(mM)':10,
'Blood Oxygenation(%)':100,
'Blood Pulsation Rate(bpm)':65,
'Cortical Thickness(mm)':2.8}
series6 = pd.Series(subject6)


subject7 = {'Neuronal Activity(mM)':8,
'Blood Oxygenation(%)':91,
'Blood Pulsation Rate(bpm)':59,
'Cortical Thickness(mm)':2.3}
series7 = pd.Series(subject7)


subject8 = {'Neuronal Activity(mM)':11,
'Blood Oxygenation(%)':83,
'Blood Pulsation Rate(bpm)':84,
'Cortical Thickness(mm)':2.5}
series8 = pd.Series(subject8)

subject9 = {'Neuronal Activity(mM)':12,
'Blood Oxygenation(%)':98,
'Blood Pulsation Rate(bpm)':84,
'Cortical Thickness(mm)':2.7}
series9 = pd.Series(subject9)


subject10 = {'Neuronal Activity':24,
'Blood Oxygenation':99,
'Blood Pulsation Rate':102,
'Cortical Thickness':3.5}
series10 = pd.Series(subject10)


dict = {'Subject One':series1,
'Subject Two':series2,
'Subject Three':series3,
'Subject Four':series4,
'Subject Five':series5,
'Subject Six':series6,
'Subject Seven':series7,
'Subject Eight':series8,
'Subject Nine':series9,
'Subject Ten':series10}

MeasuresofBrainHealth_dataframe = pd.DataFrame(dict)
MeasuresofBrainHealth_dataframe